<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">He was a sk8er boy</a></h2>
            <p>She said see you later boy</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">He wasn't good enough for her</a></h2>
            <p>Lalalalallalalallalalala.</p>
        </div>
    </body>
</html>
